.card {
    width: 100%;
    display: flex;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 4px;
    border: var(--border);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    &-link {
        text-decoration: none;
        display: inline-flex;
    }
}

.search-box {
    width: 100%;
    padding: 8px;
    font-size: 18px;
    border-radius: 8px;
    border: var(--border);
    box-shadow: var(--box-shadow);
}